.img{
    display: flex;  
    width: 300px;
    padding-left: 5%;
    padding-bottom: 5%;
}
.about{
    display: flex;
    flex-direction: column;
}
.Information{
    padding-top: 5%;
}
.Name{
    font-weight: bold;
    padding-left: 20%;
}
.user{
    padding-bottom: 10%;
}
.adress{
    padding-right: 5%;
}